<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
   <!-- Bootstrap core CSS -->
    <link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/blog.css">
	<block name="title"></block>						<!-- 标题部分 -->
  </head>
  <body>
	<nav class="navbar navbar-fixed-top">
	      <div class="container-fluid">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a href="/"><img src="__PUBLIC__/home/img/logo.png" border="0" alt="AIREX" width="94" height="30" style="margin-top:10px;"></a>
	        </div>
	        <div id="navbar" class="navbar-collapse collapse">
	          <ul class="nav navbar-nav navbar-right">
	            <li><a href="__ROOT__">首页</a></li>
	            <li><a href="#">设置</a></li>
	            <li><a href="#">个人中心</a></li>
	            <li><a href="#">帮助</a></li>
	          </ul>
	          <form class="navbar-form navbar-right">
	            <input type="text" class="form-control" placeholder="Search...">
	          </form>
	        </div>
	      </div>
	    </nav>

    <div class="container">
      <div class="row">
        <div class="col-sm-8 blog-main">

		      <block name="page-main"></block>					<!-- 页面主要内容区 -->

        </div><!-- /.blog-main -->

        <div class="col-sm-3 blog-sidebar">
            <if condition="null == session('user')">
                 <div class="sidebar-module sidebar-module-inset">
                    <h4>注册/登录</h4>  
                <p style="font-size:12px;color:grey">Airex是一个基于ThinkPHP的轻型bbs社区.</p>
                <div align="center"><br>
                  <a class="btn btn-default" href="{:U('User/register')}" role="button">现在注册</a><br><br>
                  <p>已注册用户请  <a href="/home/login">登录</a></p>
                </div>
                 </div> 
                 <else /> 
                 <div class="sidebar-module sidebar-module-inset" style="padding-bottom: 5px">
                    <a href="#" title="">
                      <img src="__PUBLIC__/home/img/tx.png" alt="..." class="img-rounded">
                    </a>  
                &nbsp;&nbsp;
                <label><a href="#" title="">小王</a></label>
                <table class="table">
                  <tr>
                    <td align="center"><a class="info" href="#" title="1" style="display: block;"><span class="lead">1</span> <br><span>节点收藏</span></a></td>
                    <td align="center"><a class="info" href="#" title="1" style="display: block"><span class="lead">1</span> <br><span>主题收益</span></a></td>
                    <td align="center"><a class="info" href="#" title="1" style="display: block"><span class="lead">1</span> <br><span>特别关注</span></a></td>
                  </tr>
                </table>
                <hr style="margin: 4px 0">
                <a href="#" title="">
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true">&nbsp;创建新主题</span>
                </a>
                <hr style="margin: 8px 0">
                <a href="#" title="">
                  <small>0条未读提醒</small>
                </a>
                <a href="#" title=""><span class="badge" style="float: right">财富: 42</span></a>
                 </div> 
              </if>
        <block name="sidebar"></block>						<!-- 侧栏展示部分-->

        </div><!-- /.blog-sidebar -->
      </div><!-- /.row -->
    </div><!-- /.container -->


    <footer class="blog-footer">
    <block name="footer">									<!-- 页脚部分 -->
      <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
	        <p>Copyright AirEX.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
      </block>
    </footer>
    <script src="http://cdn.bootcss.com/jquery/3.0.0-rc1/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <block name="js"></block>

  </body>
</html>
