<extend name="Public:base" />
<block name="title"><title>Airex</title></block>


<block name="page-main">
	<ul class="nav nav-pills nav-tags" role="tablist">
	<!-- 展示分类 -->
	<volist name="categorys" id="cate">
		<li role="presentation"><a href="__ACTION__?cat={$cate}">{$cate}</a></li>
	</volist>
	</ul>
	<div class="panel panel-default">
	  <div class="panel-heading">
	 <!-- 相应节点展示 -->
	  <volist name="nodes" id="node">
	  	<a class="nav-nodes" href="{:U('node/topics',['node'=>$node['node_name']])}">{$node.node_name}</a>
	  </volist>
	  </div>
  <div class="panel-body">
<!--  展示该分类下部分文章 -->
  <volist name="topics['lists']" id="topic" empty="暂时没有数据">
	<div class="media each-area">
		  <div class="media-left">
		    <a href="{:U('User/info',['member'=>$topic['user_name']])}">
		      <img class="media-object index-img" src="__PUBLIC__{$topic.imgpath}" alt="...">
		    </a>
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading index-title">
		    	<a href="{:U('topic/detail',['tid'=>$topic['tid']])}" title="">{$topic.title}</a>
		    </h4>
		    <a href="{:U('node/topics',['node'=>$topic['node_name']])}" title="" style="font-size:10px;background: #f5f5f5">{$topic.node_name}</a><em>.</em>
		    <strong><a href="{:U('User/info',['member'=>$topic['user_name']])}" title="" style="font-size:12px;color: black;">{$topic.user_name}</a></strong><em>.</em>
		    <span class="time" style="font-size:10px;color: #CDCFD7">{$topic.publish_time}</span>
		    <span style="font-size:10px;color: #CDCFD7">
			<if condition="$topic['last_comment_user'] != null">
			   	<em>.</em>&nbsp;最后回复来自&nbsp;<strong><a href="{:U('User/info',['member'=>$topic['last_comment_user']])}" title="" style="color: black;">{$topic.last_comment_user}</a></strong></span>
				 <span class="badge" style="float:right">{$topic.comments}</span>				
			</if>
		  </div>
	</div>
	<hr>  	
  </volist>

	<!-- 分页 -->
	<nav class="col-md-6 col-md-offset-3">
        {$topics.show}
	</nav>

  </div>
</div>

</block>

 <block name="sidebar">
	 <if condition="null == session('user')">
	     <div class="sidebar-module sidebar-module-inset">
	        <h4>注册/登录</h4>  
	    	<p style="font-size:12px;color:grey">Airex是一个基于ThinkPHP的轻型bbs社区.</p>
		    <div align="center"><br>
		      <a class="btn btn-default" href="{:U('User/login')}" role="button">立即登陆</a><br><br>
		      <p>没有账号?前往 <a href="{:U('User/register')}">注册</a></p>
		    </div>
	     </div>
	 <else />

		 <!-- 用户信息侧边栏需要和/topic/detail/里样式一致，请把样式从detail.css移至style.css -->
		 <div class="sidebar-module sidebar-module-inset">
			 <a href="{:U('User/info',['member'=>$_SESSION['user']])}" title="" class="info">
				 <img src="__PUBLIC__{$data['userInfo']['imgpath']}" alt="..." class="img-rounded">
			 </a>
			 &nbsp;&nbsp;
			 <label><a href="{:U('User/info',['member'=>$_SESSION['user']])}" title="">{$Think.session.user}</a></label>

			 <table class="table">
				 <tr>
					 <td align="center"><a class="info" href="#" title="" ><span class="lead">{$data['userInfo']['nodes']}</span> <br><span>节点收藏</span></a></td>
					 <td align="center"><a class="info" href="#" title="1" ><span class="lead">{$data['userInfo']['topics']}</span> <br><span>主题收藏</span></a></td>
					 <td align="center"><a class="info" href="#" title="1" ><span class="lead">{$data['userInfo']['attentions']}</span> <br><span>特别关注</span></a></td>
				 </tr>
			 </table>
			 <hr style="margin: 4px 0">
			 <a href="#" title="">
				 <span class="glyphicon glyphicon-pencil" aria-hidden="true">&nbsp;<a href="{:U('topic/add')}">创建新主题</a></span>
			 </a>
			 <hr style="margin: 8px 0">
			 <a href="#" title="">
				 <small>{$data['notifications']}条未读提醒</small>
			 </a>
			 <a href="#" title=""><span class="badge badge-balance">财富: {$data['userInfo']['wealth']}</span></a>
		 </div>

	 </if>

     <div class="sidebar-module sidebar-module-inset">
         <h4>最热节点</h4>
         <volist name="hotNodes" id="hot">
             <a href="{:U('node/topics',['node'=>$hot['node_name']])}" class="item-node">{$hot.node_name}</a>
         </volist>
     </div>
     <div class="sidebar-module sidebar-module-inset">
       	<h4>站点实况</h4>			
		<p>注册会员	{$siteInfo.member_num}</p>
		<p>主题	{$siteInfo.topic_num}</p>
		<p>回复	{$siteInfo.comment_num}</p>
     </div>
 </block>
 <block name="js">
 	<script type="text/javascript">
 		$(document).ready(function() {
 			var actives = $('#navbar ul li'),
 				now = new Date();
 			actives.eq(0).addClass('nav-active');

			console.time("each");

			function getTime() {
				var old = new Date($(this).text().replace(/-/g,'/')),	//Firefox时间格式要求
					dif = now - old,
					day = Math.floor(dif / (24 * 3600 * 1000)),
					hour = Math.floor(dif / (3600 * 1000)),
					min = Math.floor(dif / (60 * 1000)),
					second = Math.floor(dif / (1000)),

					nowYear = now.getFullYear(),
					oldYear = old.getFullYear(),
					nowMonth = now.getMonth(),
					oldMonth = old.getMonth();

				if (second < 60) {
					$(this).text(second + " 秒前");
				} else if (min < 60) {
					$(this).text(min + ' 分钟前');
				} else if (hour < 24) {
					$(this).text(hour + ' 小时 ' + (min - hour * 60) + ' 分钟前');
				} else if (day < 32) {
					$(this).text(day + ' 天前');
				} else if (day < 366) {
					if (nowYear === oldYear) {
						$(this).text(nowMonth - oldMonth + ' 个月前');
					} else {
						$(this).text(nowMonth - oldMonth + 12 + ' 个月前')
					}
				} else {
					$(this).text(now.getFullYear() - old.getFullYear() + " 年前");

				}
				$(this).show();
				console.log(now,old);
			}
			
			$('.time').each(getTime);
			

 		$('ul.nav-tags li a').each(function(){
 			if ($(this).text() == "{$activeCat|default='技术'}") {
 				$(this).parent('li').addClass('active');
 			}
 		});
 	});
 	</script>
 </block>
