<extend name="Public:base" />
<block name="title"><title>Airex</title></block>


<block name="page-main">
	<ul class="nav nav-pills nav-tags" role="tablist">
	<!-- 展示分类 -->
	<volist name="categorys" id="cate">
		<li role="presentation"><a href="__ACTION__?cat={$cate}">{$cate}</a></li>
	</volist>
	</ul>
	<div class="panel panel-default">
	  <div class="panel-heading">
	 <!-- 相应节点展示 -->
	  <volist name="nodes" id="node">
	  	<a class="nav-nodes" href="#">{$node.node_name}</a>
	  </volist>
	  </div>
  <div class="panel-body">
<!--  展示该分类下部分文章 -->
  <volist name="topics" id="topic" empty="暂时没有数据">
	<div class="media each-area">
		  <div class="media-left">
		    <a href="{:U('User/info',array('member'=>$topic['user_name']))}">
		      <img class="media-object index-img" src="__PUBLIC__{$topic.imgpath}" alt="...">
		    </a>
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading index-title">
		    	<a href="{:U('topic/detail',array('tid'=>$topic['tid']))}" title="">{$topic.title}</a>
		    </h4>
		    <a href="{:U('Category/find',array('node'=>$topic['node_name']))}" title="程序员" style="font-size:10px;background: #f5f5f5">{$topic.node_name}</a><em>.</em>
		    <strong><a href="{:U('User/info',array('member'=>$topic['user_name']))}" title="" style="font-size:12px;color: black;">{$topic.user_name}</a></strong><em>.</em>
		    <span style="font-size:10px;color: #CDCFD7">{$topic.publish_time} 分钟前</span><em>.</em>
		    <span style="font-size:10px;color: #CDCFD7">最后回复来自:<strong><a href="{:U('User/info',array('member'=>$topic['user_name']))}" title="" style="color: black;">admin</a></strong></span>
			 <span class="badge" style="float:right">{$topic.comments}</span>
		  </div>
	</div>
	<hr>  	
  </volist>

	<!-- 分页 -->
	<nav class="col-md-6 col-md-offset-3">
	  <ul class="pagination">
	    <li>
	      <a href="#" aria-label="Previous">
	        <span aria-hidden="true">&laquo;</span>
	      </a>
	    </li>
	    <li class="active"><a href="#" >1</a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	    <li><a href="#">5</a></li>
	    <li>
	      <a href="#" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	  </ul>
	</nav>

  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" style="font-size: 14px;color: #BDC3C7">Airex\节点导航 <a href="#" style="float:right;color: #ABB7B7;font-size:12px" title="">浏览全部节点</a></div>
  <div class="panel-body">
    <table class="table">
    <tr>
    	<td colspan="" rowspan="" headers="" style="font-size:13px;" align="right">分享与探索</td>
    	<td colspan="" rowspan="" headers="" style="font-size: 13px;">
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    	 </td>
    </tr>
    </table>

    <table class="table">
    <tr>
    	<td colspan="" rowspan="" headers="" style="font-size:13px;" align="right">分享与探索</td>
    	<td colspan="" rowspan="" headers="" style="font-size: 13px;">
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    	 </td>
    </tr>
    </table>

    <table class="table">
    <tr>
    	<td colspan="" rowspan="" headers="" style="font-size:13px;" align="right">分享与探索</td>
    	<td colspan="" rowspan="" headers="" style="font-size: 13px;">
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    	 </td>
    </tr>
    </table>

    <table class="table">
    <tr>
    	<td colspan="" rowspan="" headers="" style="font-size:13px;" align="right">分享与探索</td>
    	<td colspan="" rowspan="" headers="" style="font-size: 13px;">
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    	 </td>
    </tr>
    </table>

    <table class="table">
    <tr>
    	<td colspan="" rowspan="" headers="" style="font-size:13px;" align="right">分享与探索</td>
    	<td colspan="" rowspan="" headers="" style="font-size: 13px;">
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    	 </td>
    </tr>
    </table>

    <table class="table">
    <tr>
    	<td colspan="" rowspan="" headers="" style="font-size:13px;" align="right">分享与探索</td>
    	<td colspan="" rowspan="" headers="" style="font-size: 13px;">
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    	 </td>
    </tr>
    </table>

    <table class="table">
    <tr>
    	<td colspan="" rowspan="" headers="" width="100" style="font-size:13px;" align="right">分享与探索</td>
    	<td colspan="" rowspan="" headers="" style="font-size: 13px;">
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    	 </td>
    </tr>
    </table>

  </div>
</div>
</block>

 <block name="sidebar">
	 <if condition="null == session('user')">
	     <div class="sidebar-module sidebar-module-inset">
	        <h4>注册/登录</h4>  
	    	<p style="font-size:12px;color:grey">Airex是一个基于ThinkPHP的轻型bbs社区.</p>
		    <div align="center"><br>
		      <a class="btn btn-default" href="{:U('User/login')}" role="button">立即登陆</a><br><br>
		      <p>没有账号?前往 <a href="{:U('User/register')}">注册</a></p>
		    </div>
	     </div>
	 <else />

		 <!-- 用户信息侧边栏需要和/topic/detail/里样式一致，请把样式从detail.css移至style.css -->
		 <div class="sidebar-module sidebar-module-inset">
			 <a href="{:U('User/info',array('member'=>$_SESSION['user']))}" title="" class="info">
				 <img src="__PUBLIC__{$data['userInfo']['imgpath']}" alt="..." class="img-rounded">
			 </a>
			 &nbsp;&nbsp;
			 <label><a href="{:U('User/info',array('member'=>$_SESSION['user']))}" title="">{$Think.session.user}</a></label>

			 <table class="table">
				 <tr>
					 <td align="center"><a class="info" href="#" title="" ><span class="lead">{$data['userInfo']['nodes']}</span> <br><span>节点收藏</span></a></td>
					 <td align="center"><a class="info" href="#" title="1" ><span class="lead">{$data['userInfo']['topics']}</span> <br><span>主题收藏</span></a></td>
					 <td align="center"><a class="info" href="#" title="1" ><span class="lead">{$data['userInfo']['attentions']}</span> <br><span>特别关注</span></a></td>
				 </tr>
			 </table>
			 <hr style="margin: 4px 0">
			 <a href="#" title="">
				 <span class="glyphicon glyphicon-pencil" aria-hidden="true">&nbsp;创建新主题</span>
			 </a>
			 <hr style="margin: 8px 0">
			 <a href="#" title="">
				 <small>{$data['notifications']}条未读提醒</small>
			 </a>
			 <a href="#" title=""><span class="badge badge-balance">财富: {$data['userInfo']['wealth']}</span></a>
		 </div>

	 </if>

     <div class="sidebar-module sidebar-module-inset">
         <h4>最热节点</h4>
         <a href="#" class="item-node">PHP</a>
		 <a href="#" class="item-node">Python</a>
		 <a href="#" class="item-node">工作</a>
		 <a href="#" class="item-node">生活</a>
		 <a href="#" class="item-node">二手交易</a>
     </div>
     <div class="sidebar-module sidebar-module-inset">
       	<h4>站点实况</h4>			
		<p>注册会员	173280</p>
		<p>主题	275247</p>
		<p>回复	3186640</p>
     </div>
 </block>
 <block name="js">
 	<script type="text/javascript">
 		$(document).ready(function() {
 			var actives = $('#navbar ul li');
 			actives.eq(0).addClass('nav-active');
 		});
 		$('ul.nav-tags li a').each(function(){
 			if ($(this).text() == "{$activeCat|default='技术'}") {
 				$(this).parent('li').addClass('active');
 			}
 		})
 	</script>
 </block>
