<extend name="Public:base" />
<block name="title"><title>Airex</title></block>


<block name="page-main">
	<ul class="nav nav-pills nav-tags" role="tablist">
	  <li role="presentation" class="active"><a href="#">技术</a></li>
	  <li role="presentation"><a href="#">创意</a></li>
	  <li role="presentation"><a href="#">好玩</a></li>
	  <li role="presentation"><a href="#">Apple</a></li>
	  <li role="presentation"><a href="#">酷工作</a></li>
	  <li role="presentation"><a href="#">交易</a></li>
	  <li role="presentation"><a href="#">城市</a></li>
	  <li role="presentation"><a href="#">问与答</a></li>
	  <li role="presentation"><a href="#">最热</a></li>
	  <li role="presentation"><a href="#">全部</a></li>
	  <li role="presentation"><a href="#">节点</a></li>
	  <li role="presentation"><a href="#">关注</a></li>
	</ul>
	<div class="panel panel-default">
	  <div class="panel-heading">
		  <a class="nav-nodes" href="#">技术</a>
		  <a class="nav-nodes" href="#">创意</a>
		  <a class="nav-nodes" href="#">好玩</a>
		  <a class="nav-nodes" href="#">Apple</a>
		  <a class="nav-nodes" href="#">酷工作</a>
		  <a class="nav-nodes" href="#">交易</a>
		  <a class="nav-nodes" href="#">城市</a>
		  <a class="nav-nodes" href="#">问与答</a>
		  <a class="nav-nodes" href="#">最热</a>
		  <a class="nav-nodes" href="#">全部</a>
		  <a class="nav-nodes" href="#">节点</a>
		  <a class="nav-nodes" href="#">关注</a>
	  </div>
  <div class="panel-body">
	<div class="media">
		  <div class="media-left">
		    <a href="#">
		      <img class="media-object" src="__PUBLIC__/home/img/tx.png" alt="...">
		    </a>
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading"><a href="#" title="">有用过 Synergy 的同志吗？</a></h4>
		    <a href="#" title="程序员" style="font-size:10px;background: #f5f5f5">程序员</a><em>.</em>
		    <strong><a href="#" title="" style="font-size:12px;color: black;">admin</a></strong><em>.</em><em>.</em>
		    <span style="font-size:10px;color: #CDCFD7">2分钟前</span><em>.</em>
		    <span style="font-size:10px;color: #CDCFD7">最后回复来自:<strong><a href="#" title="" style="color: black;">admin</a></strong></span>
			 <span class="badge" style="float:right">3</span>
		  </div>
	</div>
	<hr>
	<div class="media">
		  <div class="media-left">
		    <a href="#">
		      <img class="media-object" src="__PUBLIC__/home/img/tx.png" alt="...">
		    </a>
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading"><a href="#" title="">有用过 Synergy 的同志吗？</a></h4>
		    <a href="#" title="程序员" style="font-size:10px;background: #f5f5f5">程序员</a><em>.</em>
		    <strong><a href="#" title="" style="font-size:12px;color: black;">admin</a></strong><em>.</em><em>.</em>
		    <span style="font-size:10px;color: #CDCFD7">2分钟前</span><em>.</em>
		    <span style="font-size:10px;color: #CDCFD7">最后回复来自:<strong><a href="#" title="" style="color: black;">admin</a></strong></span>
		    <span class="badge" style="float: right">3</span>
		  </div>
	</div>
	<hr>
	<div class="media">
		  <div class="media-left">
		    <a href="#">
		      <img class="media-object" src="__PUBLIC__/home/img/tx.png" alt="...">
		    </a>
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading"><a href="#" title="">有用过 Synergy 的同志吗？</a></h4>
		    <a href="#" title="程序员" style="font-size:10px;background: #f5f5f5">程序员</a><em>.</em>
		    <strong><a href="#" title="" style="font-size:12px;color: black;">admin</a></strong><em>.</em><em>.</em>
		    <span style="font-size:10px;color: #CDCFD7">2分钟前</span><em>.</em>
		    <span style="font-size:10px;color: #CDCFD7">最后回复来自:<strong><a href="#" title="" style="color: black;">admin</a></strong></span>
		    <span class="badge" style="float: right">3</span>
		  </div>
	</div>
	<hr>
	<div class="media">
		  <div class="media-left">
		    <a href="#">
		      <img class="media-object" src="__PUBLIC__/home/img/tx.png" alt="...">
		    </a>
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading"><a href="#" title="">有用过 Synergy 的同志吗？</a></h4>
		    <a href="#" title="程序员" style="font-size:10px;background: #f5f5f5">程序员</a><em>.</em>
		    <strong><a href="#" title="" style="font-size:12px;color: black;">admin</a></strong><em>.</em><em>.</em>
		    <span style="font-size:10px;color: #CDCFD7">2分钟前</span><em>.</em>
		    <span style="font-size:10px;color: #CDCFD7">最后回复来自:<strong><a href="#" title="" style="color: black;">admin</a></strong></span>
		    <span class="badge" style="float: right">3</span>
		  </div>
	</div>
	<hr>
	<div class="media">
		  <div class="media-left">
		    <a href="#">
		      <img class="media-object" src="__PUBLIC__/home/img/tx.png" alt="...">
		    </a>
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading"><a href="#" title="">有用过 Synergy 的同志吗？</a></h4>
		    <a href="#" title="程序员" style="font-size:10px;background: #f5f5f5">程序员</a><em>.</em>
		    <strong><a href="#" title="" style="font-size:12px;color: black;">admin</a></strong><em>.</em><em>.</em>
		    <span style="font-size:10px;color: #CDCFD7">2分钟前</span><em>.</em>
		    <span style="font-size:10px;color: #CDCFD7">最后回复来自:<strong><a href="#" title="" style="color: black;">admin</a></strong></span>
		    <span class="badge" style="float: right">3</span>
		  </div>
	</div>
	<hr>
		<div class="media">
		  <div class="media-left">
		    <a href="#">
		      <img class="media-object" src="__PUBLIC__/home/img/tx.png" alt="...">
		    </a>
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading"><a href="#" title="">有用过 Synergy 的同志吗？</a></h4>
		    <a href="#" title="程序员" style="font-size:10px;background: #f5f5f5">程序员</a><em>.</em>
		    <strong><a href="#" title="" style="font-size:12px;color: black;">admin</a></strong><em>.</em><em>.</em>
		    <span style="font-size:10px;color: #CDCFD7">2分钟前</span><em>.</em>
		    <span style="font-size:10px;color: #CDCFD7">最后回复来自:<strong><a href="#" title="" style="color: black;">admin</a></strong></span>
		    <span class="badge" style="float: right">3</span>
		  </div>
	</div>
	<hr>
	<div class="media">
		  <div class="media-left">
		    <a href="#">
		      <img class="media-object" src="__PUBLIC__/home/img/tx.png" alt="...">
		    </a>
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading"><a href="#" title="">有用过 Synergy 的同志吗？</a></h4>
		    <a href="#" title="程序员" style="font-size:10px;background: #f5f5f5">程序员</a><em>.</em>
		    <strong><a href="#" title="" style="font-size:12px;color: black;">admin</a></strong><em>.</em><em>.</em>
		    <span style="font-size:10px;color: #CDCFD7">2分钟前</span><em>.</em>
		    <span style="font-size:10px;color: #CDCFD7">最后回复来自:<strong><a href="#" title="" style="color: black;">admin</a></strong></span>
		    <span class="badge" style="float: right">3</span>
		  </div>
	</div>
	<hr>
	<div class="media">
		  <div class="media-left">
		    <a href="#">
		      <img class="media-object" src="__PUBLIC__/home/img/tx.png" alt="...">
		    </a>
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading"><a href="#" title="">有用过 Synergy 的同志吗？</a></h4>
		    <a href="#" title="程序员" style="font-size:10px;background: #f5f5f5">程序员</a><em>.</em>
		    <strong><a href="#" title="" style="font-size:12px;color: black;">admin</a></strong><em>.</em><em>.</em>
		    <span style="font-size:10px;color: #CDCFD7">2分钟前</span><em>.</em>
		    <span style="font-size:10px;color: #CDCFD7">最后回复来自:<strong><a href="#" title="" style="color: black;">admin</a></strong></span>
		    <span class="badge" style="float: right">3</span>
		  </div>
	</div>
	<hr>
	<div class="media">
		  <div class="media-left">
		    <a href="#">
		      <img class="media-object" src="__PUBLIC__/home/img/tx.png" alt="...">
		    </a>
		  </div>
		  <div class="media-body">
		    <h4 class="media-heading"><a href="#" title="">有用过 Synergy 的同志吗？</a></h4>
		    <a href="#" title="程序员" style="font-size:10px;background: #f5f5f5">程序员</a><em>.</em>
		    <strong><a href="#" title="" style="font-size:12px;color: black;">admin</a></strong><em>.</em><em>.</em>
		    <span style="font-size:10px;color: #CDCFD7">2分钟前</span><em>.</em>
		    <span style="font-size:10px;color: #CDCFD7">最后回复来自:<strong><a href="#" title="" style="color: black;">admin</a></strong></span>
		    <span class="badge" style="float: right">3</span>
		  </div>
	</div>
	<hr>

	<!-- 分页 -->
	<nav class="col-md-6 col-md-offset-3">
	  <ul class="pagination">
	    <li>
	      <a href="#" aria-label="Previous">
	        <span aria-hidden="true">&laquo;</span>
	      </a>
	    </li>
	    <li class="active"><a href="#" >1</a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	    <li><a href="#">5</a></li>
	    <li>
	      <a href="#" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	  </ul>
	</nav>

  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" style="font-size: 14px;color: #BDC3C7">Airex\节点导航 <a href="#" style="float:right;color: #ABB7B7;font-size:12px" title="">浏览全部节点</a></div>
  <div class="panel-body">
    <table class="table">
    <tr>
    	<td colspan="" rowspan="" headers="" style="font-size:13px;" align="right">分享与探索</td>
    	<td colspan="" rowspan="" headers="" style="font-size: 13px;">
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    	 </td>
    </tr>
    </table>

    <table class="table">
    <tr>
    	<td colspan="" rowspan="" headers="" style="font-size:13px;" align="right">分享与探索</td>
    	<td colspan="" rowspan="" headers="" style="font-size: 13px;">
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    	 </td>
    </tr>
    </table>

    <table class="table">
    <tr>
    	<td colspan="" rowspan="" headers="" style="font-size:13px;" align="right">分享与探索</td>
    	<td colspan="" rowspan="" headers="" style="font-size: 13px;">
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    	 </td>
    </tr>
    </table>

    <table class="table">
    <tr>
    	<td colspan="" rowspan="" headers="" style="font-size:13px;" align="right">分享与探索</td>
    	<td colspan="" rowspan="" headers="" style="font-size: 13px;">
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    	 </td>
    </tr>
    </table>

    <table class="table">
    <tr>
    	<td colspan="" rowspan="" headers="" style="font-size:13px;" align="right">分享与探索</td>
    	<td colspan="" rowspan="" headers="" style="font-size: 13px;">
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    	 </td>
    </tr>
    </table>

    <table class="table">
    <tr>
    	<td colspan="" rowspan="" headers="" style="font-size:13px;" align="right">分享与探索</td>
    	<td colspan="" rowspan="" headers="" style="font-size: 13px;">
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    	 </td>
    </tr>
    </table>

    <table class="table">
    <tr>
    	<td colspan="" rowspan="" headers="" width="100" style="font-size:13px;" align="right">分享与探索</td>
    	<td colspan="" rowspan="" headers="" style="font-size: 13px;">
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    		<a href="#" title="">点导航</a>&nbsp;&nbsp;
    	 </td>
    </tr>
    </table>

  </div>
</div>
</block>

 <block name="sidebar">
     <div class="sidebar-module sidebar-module-inset">
         <h4>最热节点</h4>
         <a href="#" class="item-node">PHP</a>
		 <a href="#" class="item-node">Python</a>
		 <a href="#" class="item-node">工作</a>
		 <a href="#" class="item-node">生活</a>
		 <a href="#" class="item-node">二手交易</a>
     </div>
     <div class="sidebar-module sidebar-module-inset">
       	<h4>站点实况</h4>			
		<p>注册会员	173280</p>
		<p>主题	275247</p>
		<p>回复	3186640</p>
     </div>
 </block>
 <block name="js">
 	<script type="text/javascript">
 		$(document).ready(function() {
 			var actives = $('#navbar ul li');
 			actives.eq(0).addClass('nav-active');
 		});
 	</script>
 </block>
