<extend name="Public:base" />
<block name="title">
	<title>AIREX > 小王</title>
</block>
<block name="css">

	<link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/info.css"></block>

<block name="page-main">

	<div class="col-sm-12 header-up">
		<div class="media">
			<div class="media-left">
				<img src="__PUBLIC__/home/img/info-tx.png" alt="Mr.Trump"></div>
			<div class="media-body">
				<div class="media-heading">
					<span>
						<big>Mr.Trump</big>
					</span>
					<button type="button" class="btn btn-warning btn-sm">加入特别关注</button>
					<br></div>
				<span class="info-number">
					<small>
						Airex 第 1 号会员，加入于 2016-05-27 19:16:56，今日活跃度排名 3332
					</small>
				</span>
				<button type="button" class="btn btn-sm">Block</button>
			</div>
		</div>
	</div>

	<div class="col-sm-12 divider-thin"></div>
	<div class="col-sm-12 heading-down"></div>
	<div class="col-sm-12 divider"></div>

	<div class="col-sm-12 nav">

		<nav class="navbar navbar-default navbar-info">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">
						<img class="img-circle" width="23" src="__PUBLIC__/home/img/info-tx.png"></a>
				</div>

				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">

						<li class="active">
							<a href="#">Mr.Trump 创建的所有主题</a>
						</li>
						<li>
							<a href="#">提问</a>
						</li>
						<li>
							<a href="#">技术话题</a>
						</li>
						<li>
							<a href="#">好玩</a>
						</li>
						<li>
							<a href="#">工作信息</a>
						</li>
						<li>
							<a href="#">交易信息</a>
						</li>
						<li>
							<a href="#">城市相关</a>
						</li>

					</ul>

				</div>

			</nav>

		</div>

		<div class="col-sm-12 theme">
			<div class="media theme-list">
				<div class="media-left">
					<img class="theme-list-lock" width="128" src="__PUBLIC__/home/img/lock.png"></div>
				<div class="media-body media-middle">
					<span>
						<small>根据 Mr.Trump 的设置，主题列表被隐藏</small>
					</span>
				</div>
			</div>
		</div>

		<div class="col-sm-12 divider"></div>

		<div class="col-sm-12 info-reply">
			<div class="panel panel-default">
				<div class="panel-body reply-recent">
					<span>Mr.Trump 最近回复了</span>
				</div>
				<div class="panel-heading">
					<span>回复了 loweila 创建的主题 ›</span>
					<span class="reply-dark">云计算到底哪家稳定靠谱些啊=_=</span>
					<span class="info-reply-time">
						<span>15 小时 45 分钟前</span>
					</span>
					<img class="arrow" src="__PUBLIC__/home/img/arrow.png"></div>
				<div class="panel-body">
					<div class="reply-content">
						<span>aws 中国</span>
					</div>
				</div>
				<div class="panel-heading">
					<span>回复了 loweila 创建的主题 ›</span>
					<span class="reply-dark">云计算到底哪家稳定靠谱些啊=_=</span>
					<span class="info-reply-time">
						<span>15 小时 45 分钟前</span>
					</span>
					<img class="arrow" src="__PUBLIC__/home/img/arrow.png"></div>
				<div class="panel-body">
					<div class="reply-content">
						<span>aws 中国</span>
					</div>
				</div>
				<div class="panel-heading">
					<span>回复了 loweila 创建的主题 ›</span>
					<span class="reply-dark">云计算到底哪家稳定靠谱些啊=_=</span>
					<span class="info-reply-time">
						<span>15 小时 45 分钟前</span>
					</span>
					<img class="arrow" src="__PUBLIC__/home/img/arrow.png"></div>
				<div class="panel-body">
					<div class="reply-content">
						<span>aws 中国</span>
					</div>
				</div>
				<div class="panel-heading">
					<span>回复了 loweila 创建的主题 ›</span>
					<span class="reply-dark">云计算到底哪家稳定靠谱些啊=_=</span>
					<span class="info-reply-time">
						<span>15 小时 45 分钟前</span>
					</span>
					<img class="arrow" src="__PUBLIC__/home/img/arrow.png"></div>
				<div class="panel-body">
					<div class="reply-content">
						<span>aws 中国</span>
					</div>
				</div>
				<div class="panel-heading">
					<span>回复了 loweila 创建的主题 ›</span>
					<span class="reply-dark">云计算到底哪家稳定靠谱些啊=_=</span>
					<span class="info-reply-time">
						<span>15 小时 45 分钟前</span>
					</span>
					<img class="arrow" src="__PUBLIC__/home/img/arrow.png"></div>
				<div class="panel-body">
					<div class="reply-content">
						<span>aws 中国</span>
					</div>
				</div>
				<div class="panel-heading">
					<span>回复了 loweila 创建的主题 ›</span>
					<span class="reply-dark">云计算到底哪家稳定靠谱些啊=_=</span>
					<span class="info-reply-time">
						<span>15 小时 45 分钟前</span>
					</span>
					<img class="arrow" src="__PUBLIC__/home/img/arrow.png"></div>
				<div class="panel-body">
					<div class="reply-content">
						<span>aws 中国</span>
					</div>
				</div>
				<div class="panel-heading">
					<span>回复了 loweila 创建的主题 ›</span>
					<span class="reply-dark">云计算到底哪家稳定靠谱些啊=_=</span>
					<span class="info-reply-time">
						<span>15 小时 45 分钟前</span>
					</span>
					<img class="arrow" src="__PUBLIC__/home/img/arrow.png"></div>
				<div class="panel-body">
					<div class="reply-content">
						<span>aws 中国</span>
					</div>
				</div>
				<div class="panel-heading">
					<span>回复了 loweila 创建的主题 ›</span>
					<span class="reply-dark">云计算到底哪家稳定靠谱些啊=_=</span>
					<span class="info-reply-time">
						<span>15 小时 45 分钟前</span>
					</span>
					<img class="arrow" src="__PUBLIC__/home/img/arrow.png"></div>
				<div class="panel-body">
					<div class="reply-content">
						<span>aws 中国</span>
					</div>
				</div>
				<div class="panel-heading">
					<span>回复了 loweila 创建的主题 ›</span>
					<span class="reply-dark">云计算到底哪家稳定靠谱些啊=_=</span>
					<span class="info-reply-time">
						<span>15 小时 45 分钟前</span>
					</span>
					<img class="arrow" src="__PUBLIC__/home/img/arrow.png"></div>
				<div class="panel-body">
					<div class="reply-content">
						<span>aws 中国</span>
					</div>
				</div>
				<div class="panel-heading">
					<span>回复了 loweila 创建的主题 ›</span>
					<span class="reply-dark">云计算到底哪家稳定靠谱些啊=_=</span>
					<span class="info-reply-time">
						<span>15 小时 45 分钟前</span>
					</span>
					<img class="arrow" src="__PUBLIC__/home/img/arrow.png"></div>
				<div class="panel-body">
					<div class="reply-content">
						<span>aws 中国</span>
					</div>
				</div>
				<div class="panel-body reply-footer">
					<span>» Mr.Trump创建的更多回复</span>
				</div>

			</div>
		</div>

	</block>