<extend name="Public:base" />
<block name="title"><title>登录 - Airex</title></block>

<block name="page-main">
    <div class="post-header">
        <ol class="breadcrumb">
            <li><a href="/">Airex</a></li>
            <li class="active">登录</li>
        </ol>
    </div>

    <div class="signform">

        <form action="" method="post">

            <table cellpadding="5" cellspacing="0" border="0" width="100%">
                <tr>
                    <td width="120" align="right" valign="top">
                        <label>用户名</label>
                    </td>
                    <td width="auto" align="left">
                        <input type="text" name="username">
                    </td>
                </tr>
                <tr>
                    <td width="120" align="right" valign="top">
                        <label>密码</label>
                    </td>
                    <td width="auto" align="left">
                        <input type="password" name="password">
                    </td>
                </tr>
                <tr>
                    <td width="120" align="right" valign="top">

                    </td>
                    <td width="auto" align="left">

                        <button type="submit">登录</button>
                    </td>
                </tr>

                <tr>
                    <td width="120" align="right" valign="top">

                    </td>
                    <td width="auto" align="left">

                        <a href="">忘记密码了？</a>
                    </td>
                </tr>

            </table>
        </form>
    </div>
</block>

<block name="pager">
</block>

<block name="sidebar">
    <div class="sidebar-module sidebar-module-inset">
        <h4>还没有帐号？</h4>
        <div align="center"><br>
            <a class="btn btn-default" href="/home/register" role="button">现在注册</a><br><br>

        </div>
    </div>

</block>