<extend name="Public:base" />
<block name="title"><title>{$topicInfo.title} - Airex</title></block>
<block name="css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/detail.css">
</block>
<block name="page-main">


<div class="panel panel-default" >
  <div class="panel-body">
	<ol class="breadcrumb">
	  <li>
		  <a href="__ROOT__/">Ariex</a>&nbsp; › &nbsp;
		  <!--   节点链接   -->
		  <a href="{:U('node/topics',['node'=>$topicInfo['node_name']])}"><span class="active">{$topicInfo.node_name}</span></a>
	</ol>
	<div class="media header">
	  <div class="media-body">
		<h3>{$topicInfo.title}
		<h6><span><a href="{:U('User/info',['member'=>$topicInfo['user_name']])}" title="">{$topicInfo.user_name}</a></span>&nbsp;&nbsp;•&nbsp;&nbsp;<span class="header-time">{$topicInfo.publish_time}</span>&nbsp;&nbsp;•&nbsp;&nbsp;<span>{$topicInfo.comments}条回复</span>&nbsp;&nbsp;•&nbsp;&nbsp;<span>{$topicInfo.hits}次点击</span>
	
		<if condition="$topicInfo['user_name'] == session('user')">
		<!--   追加留言   -->
			<a href="{:U('Topic/append',['tid'=>$tid])}" class="add-message btn btn-default btn-xs">追加留言</a>
		</if>
		</h6></h3>
	  </div>
	    <div class="media-right">	
	    <a href="{:U('User/info',['member'=>$topicInfo['user_name']])}">
	      <img src="__PUBLIC__/{$topicInfo.imgpath}" alt="" class="img-circle">
	    </a>
	  </div>
	</div>
	<hr>
	<p class="small">
		{$topicInfo.content}
	</p>
  </div>
	<div class="panel-footer">
		<h6>
  		<span>
					<if condition="$topicInfo.collected eq 0">
						<a href="#" id="collect" title="">加入收藏</a>
						<else />
						<a href="#" id="collect" title="">取消收藏</a>
					</if>
  			</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>
  			<a href="#" title="">感谢</a>
  		</span>
		</h6>
	</div>
</div>

<div class="dividers-div"></div>

  <div class="comment-heading panel-heading" style="">	<h6> {$topicInfo.comments} 回复<span><strong>&nbsp;&nbsp;|&nbsp;&nbsp;</strong></span>最后回复：{$topicInfo.last_comment_time}</h6>
  </div>

  <div class="panel-body" >
  	<volist name="commentInfo" id="comment" key="key" empty="暂时没有评论，快来抢沙发">
	  <div class="media reply-info">
		  <div class="media-left">
			  <a href="{:U('User/info',['member'=>$comment['user_name']])}">
				  <img class="media-object img-rounded avatar" src="__PUBLIC__/{$comment.imgpath}" alt="...">
			  </a>
		  </div>
		  <div class="media-body">
			  <h5 class="media-heading user-name">
			  	<a href="{:U('User/info',['member'=>$comment['user_name']])}" class="uname">{$comment.user_name}</a>
			  	<span class="badge">{$key}</span>
				<if condition="$comment['user_name'] neq $_SESSION['user']">
				<img src="__PUBLIC__/home/img/reply.png" alt="fdsfd" class="reply">
			  	<div class="thank-area" hidden="">
			  	 	<h6>
				  	 	<a href="#" title="" onclick="return confirm('将花费10金币感谢回复者？')">感谢回复者</a>			  	 		
			  	 	</h6>
			  	</div>
			  	</if>
			  	<span class="time">{$comment.publish_time}</span>
			  </h5>
			  <div class="reply-content">
				  <small>{$comment.content}</small>
			  </div>
		  </div>
	  </div>  		
  	</volist>
  <div class="media-body">
	<div class="collapse" id="collapse">
	  <div class="well">
	    <textarea name="comment" id="comment" class="form-control" rows="5" placeholder="写下你的留言..."></textarea>
	    <h5 id="helpBlock" class="help-block">尽量让你的留言能帮助其他人.
		 <button type="button" id="subcomment" data-loading-text="发布中..." class="btn btn-primary" autocomplete="off">
		  	提交评论
		</button>
	    </h5>
	    <br>
	  </div>
	</div>
  </div>
</div>
</block>
<block name="sidebar">
	 <div class="sidebar-module sidebar-module-inset">
		 <a href="{:U('User/info',['member'=>$_SESSION['user']])}" title="" class="info">
			 <img src="__PUBLIC__{$data['userInfo']['imgpath']}" alt="..." class="img-rounded">
		 </a>
		 &nbsp;&nbsp;
		 <label><a href="{:U('User/info',['member'=>$_SESSION['user']])}" title="">{$Think.session.user}</a></label>
		 <table class="table">
			 <tr>
				 <td align="center"><a class="info" href="#" title="" ><span class="lead">{$data['userInfo']['nodes']}</span> <br><span>节点收藏</span></a></td>
				 <td align="center"><a class="info" href="#" title="1" ><span class="lead">{$data['userInfo']['topics']}</span> <br><span>主题收藏</span></a></td>
				 <td align="center"><a class="info" href="#" title="1" ><span class="lead">{$data['userInfo']['attentions']}</span> <br><span>特别关注</span></a></td>
			 </tr>
		 </table>
		 <hr style="margin: 4px 0">
		 <a href="{:U('topic/add')}" title="">
			 <span class="glyphicon glyphicon-pencil" aria-hidden="true">&nbsp;创建新主题</span>
		 </a>
		 <hr style="margin: 8px 0">
		 <a href="#" title="">
			 <small>{$data['notifications']}条未读提醒</small>
		 </a>
		 <a href="#" title=""><span class="badge badge-balance">财富: {$data['userInfo']['wealth']}</span></a>
	 </div>
	 <div class="sidebar-module sidebar-module-inset">
	     <h4>最热节点</h4>
	     <a href="#" class="item-node">PHP</a>
		 <a href="#" class="item-node">Python</a>
		 <a href="#" class="item-node">工作</a>
		 <a href="#" class="item-node">生活</a>
		 <a href="#" class="item-node">二手交易</a>
	 </div>
	 <div class="sidebar-module sidebar-module-inset">
	   	<h4>站点实况</h4>			
		<p>注册会员	173280</p>
		<p>主题	275247</p>
		<p>回复	3186640</p>
	 </div>

</block>
<block name="js">
	<script src="__PUBLIC__/home/js/detail.js" charset="utf-8" async defer></script>
	<script>
	    $("#subcomment").click(function(){

		 	var $btn = $(this).button('loading');
		 	var $content = $('#comment').val();
		 	if ($content == '') {
		 		$('#comment').focus();;
		 		$btn.button('reset');
		 		return ;
		 	}
		 	$.post('{:U("Comment/add")}', {tid:'{$tid}',content:$content}, function(data, textStatus, xhr) {
		 		if (textStatus == 'success') {
		 			if (data == 'yes') {
		 				window.location.reload();
		 			}else{
		 				alert(data);
		 				$btn.button('reset');
		 			}
		 		}
		 	})
		})
		$(document).ready(function() {
			$('#collect').bind('click',function(){
				if($('#collect').text() == '加入收藏'){
					var tid = "{$tid}";
					var url = "{:U('Topic/collect_topic')}";
					$.post(
							url,{tid:tid},
							function(data){
								console.log();
								if(data.status){
									$('#collect').text('取消收藏');
								}else{
									alert('操作失败');
								}
							}
					);
				}else if($('#collect').text() == '取消收藏'){
					var tid = "{$tid}";
					var url = "{:U('Topic/remove_col_topic')}";
					$.post(
							url,{tid:tid},
							function(data){
								console.log();
								if(data.status){
									$('#collect').text('加入收藏');
								}else{
									alert('操作失败');
								}
							}
					);
				}
			});
		});
	</script>
</block>
