<extend name="Public:base" />
<block name="title">Airex › 程序员</block>
<block name="css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/node.css">
</block>


<block name="page-main">

	<!--  节点信息  -->
	<div class="media node">
		<div class="right-top">
			<span class="node-num">主题总数 

				<!--    主题总数     -->
				<a class="links" href=""><strong>{$nodeInfo.topic_num}</strong></a>&nbsp;•&nbsp;

				<button class="add-favorite btn btn-link btn-xs">加入收藏</button>
			</span>	
			<button class="block-theme btn btn-warning btn-xs">屏蔽主题</button>
		</div>
		
		<div class="media-left">

			<!--    节点图片     -->
			<a href="#">
				<img width="73" src="__PUBLIC__{$nodeInfo.logo_path}">
			</a>

		</div>
		<div class="media-body ">

			<!--    节点名称     -->
			<h5 class="media-heading"><a href="__ROOT__/">Airex</a>&nbsp; › {$node}</h5>

			<!--    节点简介     -->
			<span class="des">{$nodeInfo.desc}</span>

			<a href="{:U('topic/add')}" class="newtheme btn btn-primary btn-xs">新建主题</a href="{:U('topic/add')}">
		</div>
	</div>


	<!--   主题模板   -->
	<volist name="topics['lists']" id="topic">
		<div class="node-theme media">	
			<div class="media-left">
				<!--    头像     -->
				<a href="#">
					<img width="48" class="img-rounded" src="__PUBLIC__{$topic.imgpath}">
				</a>
			</div>
			<div class="theme-contain media-body">
				<span class="comments-num badge">{$topic.comments}</span>

				<!--  主题链接  -->
				<a class="theme-link" href="{:U('Topic/detail',['tid'=>$topic['tid']])}"><h5 class="media-heading">{$topic.title}</h5></a>

				<div class="theme-info">

					<!--  创建主题用户  -->
					<a class="links theme-creater" href="{:U('User/info',['member'=>$topic['user_name']])}"><strong>{$topic.user_name}</strong></a>  •  
					<!--    最后回复时间     -->
					<span class="time">{$topic.publish_time}</span> 天前

					<!--  最后回复用户  -->
					<if condition="$topic['last_comment_user'] != null">
					   	 • 最后回复来自:<strong><a href="{:U('User/info',['member'=>$topic['last_comment_user']])}" title="" style="color: black;">{$topic.last_comment_user}</a></strong>			
					</if>
				</div>
			</div>
		</div>		
	</volist>

	


</block>

<block name="sidebar">
	 <if condition="null == session('user')">
	     <div class="sidebar-module sidebar-module-inset">
	        <h4>注册/登录</h4>  
	    	<p style="font-size:12px;color:grey">Airex是一个基于ThinkPHP的轻型bbs社区.</p>
		    <div align="center"><br>
		      <a class="btn btn-default" href="{:U('User/login')}" role="button">立即登陆</a><br><br>
		      <p>没有账号?前往 <a href="{:U('User/register')}">注册</a></p>
		    </div>
	     </div>
	 <else />

		 <!-- 用户信息侧边栏需要和/topic/detail/里样式一致，请把样式从detail.css移至style.css -->
		 <div class="sidebar-module sidebar-module-inset">
			 <a href="{:U('User/info',['member'=>$_SESSION['user']])}" title="" class="info">
				 <img src="__PUBLIC__{$data['userInfo']['imgpath']}" alt="..." class="img-rounded">
			 </a>
			 &nbsp;&nbsp;
			 <label><a href="{:U('User/info',['member'=>$_SESSION['user']])}" title="">{$Think.session.user}</a></label>

			 <table class="table">
				 <tr>
					 <td align="center"><a class="info" href="#" title="" ><span class="lead">{$data['userInfo']['nodes']}</span> <br><span>节点收藏</span></a></td>
					 <td align="center"><a class="info" href="#" title="1" ><span class="lead">{$data['userInfo']['topics']}</span> <br><span>主题收藏</span></a></td>
					 <td align="center"><a class="info" href="#" title="1" ><span class="lead">{$data['userInfo']['attentions']}</span> <br><span>特别关注</span></a></td>
				 </tr>
			 </table>
			 <hr style="margin: 4px 0">
			 <a href="#" title="">
				 <span class="glyphicon glyphicon-pencil" aria-hidden="true">&nbsp;<a href="{:U('topic/add')}">创建新主题</a></span>
			 </a>
			 <hr style="margin: 8px 0">
			 <a href="#" title="">
				 <small>{$data['notifications']}条未读提醒</small>
			 </a>
			 <a href="#" title=""><span class="badge badge-balance">财富: {$data['userInfo']['wealth']}</span></a>
		 </div>

	 </if>

     <div class="sidebar-module sidebar-module-inset">
         <h4>最热节点</h4>
         <volist name="hotNodes" id="hot">
             <a href="#" class="item-node">{$hot['node_name']}</a>
         </volist>
<!--          <a href="#" class="item-node">PHP</a>
		 <a href="#" class="item-node">Python</a>
		 <a href="#" class="item-node">工作</a>
		 <a href="#" class="item-node">生活</a>
		 <a href="#" class="item-node">二手交易</a> -->
     </div>
     <div class="sidebar-module sidebar-module-inset">
       	<h4>站点实况</h4>			
		<p>注册会员	{$siteInfo.member_num}</p>
		<p>主题	{$siteInfo.topic_num}</p>
		<p>回复	{$siteInfo.comment_num}</p>
     </div>
 </block>

	
