.blog-main {
    background-color: #e2e2e2;
}
.col-sm-8 {
    padding: 0;
}
.col-sm-12 {
    padding: 15px;
    padding-bottom: 30px;

    background-color: white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
}

.header-up {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.media-heading {
    padding-top: 0;

    color: black;
}
.btn.btn-sm {
    display: inline-block;
    float: right;
}

.info-number {
    font-family: 'Microsoft Yahei';
    font-size: 10px;

    color: gray;
}

.divider-thin {
    padding: 0;
    padding-bottom: 1px;

    background-color: #e2e2e2;
}
.col-sm-12.heading-down {
    padding: 10px;

    box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
}
.col-sm-12.divider {
    margin-top: 5px;
    padding: 0;
    padding-bottom: 20px;

    background-color: #e2e2e2;
    box-shadow: 0 0 0 rgba(0, 0, 0, .1);
}
.col-sm-12.nav {
    padding: 0;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.navbar-info {
    font-size: 14px;

    min-height: 42px;

    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: white;
    box-shadow: none;
}


.navbar-info > .container-fluid {
    float: right;

    width: 100%;
    margin: 0;
}
.navbar-info .navbar-brand {
    height: 30px;
    padding: 10px 10px 10px 10px;
}
.navbar-info li a {
    min-height: 41px;
    padding: 10px 12px 10px 12px;
}
.navbar-info ul {
    margin-right: 50px;
}
.theme-list-lock {
    margin-right: 40px;
    margin-left: 40px;
}
.theme-list {
    color: gray;
}
.theme {
    box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
}
.info-reply {
    padding: 0;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.panel-default {
    border: 0;
}
.info-reply .panel {
    margin: 0;
    padding: 0;

    border-radius: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.reply-recent {
    color: #999;
}

.info-reply .panel-heading {
    font-size: 12px;

    position: relative;

    min-height: 41px;
    padding: 10px 15px 8px 15px;

    text-align: left;

    color: #999;
    border: 0;
    background-color: #edf3f5;
}
.reply-dark {
    color: #778087;
}
.info-reply .panel-body {
    font-size: 12px;
    line-height: 150%;

    padding: 10px;

    text-align: left;
}
.reply-content {
    font-size: 14px;
    line-height: 1.6;

    word-wrap: break-word;
    word-break: break-all;

    color: #000;
}
.info-reply-time {
    float: right;

    opacity: .6;
}
.reply-arrow {
    display: inline-block;

    height: 10px;
    margin: 0;
    margin-top: -5px;
    padding: 0;
}
.arrow {
    position: absolute;
    bottom: 0;
    left: 20px;

    display: inline-block;
}
.reply-footer {
    color: #778087;
    border-top: solid 1px #e2e2e2;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
}
