/*
 * Globals
 */



body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;

}


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

#logo {
  margin-top:10px;
  margin-left:-25px;
}

.navbar{
	background-color:white;
box-shadow: 0 1px 4px 0 #9F9F9F;
}

.container-fluid{
	width:85%;
}
.bggrey{
  background-color:#E2E2E2;
}
  .container {
  margin-top:5px;


  }
  
  .item-node{
   font-size: 12px;
  line-height: 12px;
  padding: 4px 10px 4px 10px;
  margin: 0px 5px 5px 0px;
  border-radius: 16px;
  display: inline-block;
  border: 1px solid #e5e5e5;
  }


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}



/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
  margin: 70px 20px;
  padding-top:20px;
  padding-bottom: 20px;
  background-color:white;
	  
}

/* Sidebar modules for boxing content */

.blog-sidebar{
  margin-top:70px;
}
.sidebar-module {

  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {

  padding: 15px;
  background-color: white;
  border-radius: 4px;
}
.sidebar-module-inset h4{
	border-bottom:1px solid grey;
	padding-bottom:10px;
}

.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* 用户信息侧边栏 */
.table{
  margin-top:15px;
}
.badge-balance{
  float:right;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}
.post-header{
  border-bottom: 1px solid #bfbfbf;
}
.breadcrumb{
  margin:-20px 0 0 -10px;
  background-color: white;
  font-size: 14px;
}

/*
  * sign form (register and login)
*/
.signform{

  font-size:14px;
}
.signform form {
  margin-top:20px;
  padding: 20px 50px 40px 50px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
  -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
  font-size: 14px;

}

.signform table td{
  padding:5px 0;

}


.signform form input {
  width: 50%;
  height: 30px;
  background: #fcfcfc;
  border: 1px solid #ddd;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.1) inset;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.1) inset;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1) inset;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  color: #888;
  font-size: 14px;
  margin-left:10px;
  padding:0 6px;
}

.signform form input:focus {
  border: 1px solid #ccc;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.signform form label {
  margin: 7px 0 10px 0;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
}

.signform form span {
  color: #a3a3a3;
  font-size:12px;
  line-height: 30px;
  margin:30px 10px;
}
.signform a,.signform img{
  margin-left: 10px;
}

.signform form input:-moz-placeholder { color: #aaa; }
.signform form input:-ms-input-placeholder { color: #aaa; }
.signform form input::-webkit-input-placeholder { color: #aaa; }

.signform form button {
  cursor: pointer;
  width: 50%;
  height: 42px;
  margin-top: 5px;
  margin-left:10px;
  padding: 0;
  background: #eb4141;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 0;
  -moz-box-shadow: 0 15px 30px 0 rgba(255,255,255,.1) inset;
  -webkit-box-shadow: 0 15px 30px 0 rgba(255,255,255,.1) inset;
  box-shadow: 0 15px 30px 0 rgba(255,255,255,.1) inset;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0,0,0,.1);
  -o-transition: all .2s;
  -moz-transition: all .2s;
  -webkit-transition: all .2s;
  -ms-transition: all .2s;
}

.signform form button:hover {
  -moz-box-shadow: 0 -15px 30px 0 rgba(255,255,255,.05) inset;
  -webkit-box-shadow: 0 -15px 30px 0 rgba(255,255,255,.05) inset;
  box-shadow: 0 -15px 30px 0 rgba(255,255,255,.05) inset;
}

.signform form button:active {
  -moz-box-shadow:
          0 -15px 30px 0 rgba(255,255,255,.05) inset,
          0 5px 8px 0 rgba(0,0,0,.1) inset;
  -webkit-box-shadow:
          0 -15px 30px 0 rgba(255,255,255,.05) inset,
          0 5px 8px 0 rgba(0,0,0,.1) inset;
  box-shadow:
          0 -15px 30px 0 rgba(255,255,255,.05) inset,
          0 5px 8px 0 rgba(0,0,0,.1) inset;
}

/*
 * Register tips
 */

.error { color:red !important; }
.correct { color:green !important;}



/*
 * Reply
 */

.reply-content {

  font-size: 85%;
}




/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;

}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.nav-tags li{
margin: 0px 10px 10px 10px;
}
.nav-tags li a{
  padding: 2px 3px;
  font-size: 14px;
  color: #000000;
}
.nav-nodes{
  padding: 2px 3px;
  font-size: 10px;
  color: #000000;
}

.panel-heading{
  padding:0px;
}
.panel{
  border: 0;
}
.media-heading{
  padding-top: 5px;
  padding-bottom: 5px;
}
.media-heading a{
  color: black;
}
.tag p{
  font-size: 5px;
}
td a{
  font-size: 14px;
  color: #778087;
  margin-top: 0;
}
.info:hover{
  text-decoration: none;
}
.nav-active{
  background-color: #ECF0F1;
}
.nav-active a{
  color: #22313F;
}
